<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched 
  <include file="$(find sjtu_drone)/launch/simple.launch">
    <arg name="world_name" value="$(find drone_construct)/worlds/ardrone_igniteworld.world"/>
  </include>-->
  <include file="$(find drone_construct)/launch/start_world.launch"/>
  <include file="$(find drone_construct)/launch/put_drone_in_world.launch"/>
  <include file="$(find copter_model)/launch/Simple_copter.launch"/>
    <!--<node pkg="sjtu_drone" type="controlle" name="controlle"/> -->
  <!--<include file="$(find copter_model)/launch/Simple_copter.launch"/>-->
</launch>
