<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find drone_construct)/worlds/ardrone_igniteworld.world"/>
    <!--<arg name="world_name" default="$(find drone_construct)/worlds/empty.world"/>-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- start gzserver and load the map -->
</launch>
